.cliente {
  font-size: 1.6rem;
}

.cliente__form {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  width: 100%;
}

.cliente__label {
  font-size: 1.6rem;
  display: block;  
}

.cliente__input {
  height: 25px;
  font-size: 1.6rem;
  padding: 1rem 0 1rem 1rem;
}

.cliente__textarea {
  font-size: 1.6rem;
  padding: 1rem 0 0 1rem;
}

.cliente__select {
  font-size: 1.6rem;
  padding: .3rem;
}

.cliente__btn {
  font-size: 2.2rem;
  padding: .5rem 2rem;
  margin-top: 2rem;
  cursor: pointer;
}

.cliente__fieldset {
  padding: 1.5rem;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
    
}

.cliente__legend {
  font-size: 1.4rem;
  padding-inline: 1rem;
}

.cliente__input-cep {
  display: flex;
}

.cliente__input-cep-btn {
  font-size: 1.5rem;
  padding-inline: 1rem;
}