#client-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.input-fields {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (min-width: 768px) {
    #client-form {
        width: 768px;
    }
    .input-fields {
        width: 80%;
        display: flex;
        flex-flow: row wrap;
        gap: 1rem;
        padding: 1rem;
    }
    .input-field {
        width: 30%;
    }
}