/* Product Photos */
#product-page {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.productTitle-photoDescription {
  display: flex;
  flex-direction: column;
}
.productTitle-photos {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}
.product-photos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#carousel-product {
  max-width: 230px;
  height: 160px;
}
.carousel-photo {
  width: auto;
  height: 150px;
}
/* Product Classification */
.product-classification {
  align-self: flex-start;
}

/* Product Details */
.product-details {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
}

@media (min-width: 768px) {
  #product-page {
    flex-direction: column;
    justify-content: center;
  }

  #carousel-product {
    max-width: 300px;
    height: 250px;
  }
  .carousel-photo {
    height: 240px;
  }
  .productTitle-photoDescription {
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
}
