@media(max-width: 768px) {
    .carousel-item {
        margin-top: 2rem;
    }
}

.carousel_box {
    display: flex;
    justify-content: center;
    margin-top: 1%;
}

.btn-outline-secondary {
    border-color: #8FA8FF;
    border-style: solid; 
    border-left:0px;
    border-width: 0.2rem;
}



