.navbar-collapse {
    justify-content: end;
    margin-right: 2rem;
}

.contato__principal {
    margin-top: 5rem;
}

.email {
    display: flex;
    align-items: center;
    margin-bottom: 5rem;
}

.email a {
    font-size: 1.2em;
    text-decoration: none;
    color: #8FA8FF;
    margin-left: .3em;
}

.conteudo {
    align-items: center;
}

footer {
    margin-top: 1.5rem;
}