.product_1 {
    display: flex;
    justify-content: space-between;
   
    
}

.product_2 {
    display: flex;
    justify-content: space-between;
}

.container_product {
    width: 100%;
    display: flex;
    justify-content: center;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.form_btn {
    background-color: #6383f7;
    border-color: #6383f7;
    border-radius: 5px;
    font-family: var(--inter);
    color: azure;
    width: 40%;
}

.input_btn {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.category_products {
    width: 20%;
}