:root {
    --inter: 'Inter Tight', sans-serif;
    --black: 'Black 900', sans-serif;
    --tight: 'Thin 100', sans-serif;
}

.back_home {
    display: flex;
    flex-direction: column;
    align-items: center;

}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.logo-white {
    filter: invert(100%) sepia(100%) saturate(15%) hue-rotate(307deg) brightness(106%) contrast(103%);
}

/* Colocando simbolo no mobile e desktop */
.fa-dollar-sign {color: #8FA8FF;}

@media(max-width: 768px) {
    .disable_mobile {
        display: none;
    }

    .container_home {
        width: 100%;
    }
}

@media(min-width: 1024px) {
    .disable_desktop {
        display: none;
    } 

    .container_home {
        width: 70%;
    }

.btn_glass {
    border-color: #8FA8FF;
    border-style: solid; 
    border-left:0px;
    border-width: 0.2rem;
}
@media (min-width: 768px) and (max-width: 1024px) {
    .container_home {
        width: 90%;
    }
}
}